/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0b141a;
}

::-webkit-scrollbar-thumb {
  background: #2a3942;
}

::-webkit-scrollbar-thumb:hover {
  background: #aebac1;
}
