<div
    x-show="errorMessage"
    x-transition
    class="mb-6 p-3 border border-red-500/30 bg-red-500/10 text-red-200 text-xs text-center rounded-lg"
>
    <span x-text="errorMessage"></span>
</div>
